<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Show page name=""</title>
  </head>
  <body>
    <h1> Showing selected article </h1>

    <p>
      Title: <%= @article.title %>
    </p>
    <p>
      Description: <%= @article.description %>
    </p>
  </body>
</html>
